<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"), { title: title } %>
</head>
<body>
    <div class="wrapper">
    <header>
        <%- include("./partials/header.ejs", { header: header }); %>
        
        <% if (locals.user) { %>
            <h2>You are logged in <%= user.username %></h2>
            <div class="logarea">
                <button type="button" class="button" onclick="location.href = '/log-out'">Log out</button>
                <button type="button" class="button" onclick="location.href='/new-message'">New Message</button>
            </div>
        <% } else { %>
            <h2>Please log in</h2>
            <div class="logarea">
                <button type="button" class="button" onclick="location.href='/sign-in'">Please Log In</button>
            </div>
        <% } %>
    </header>
    <main class="index">
        <%- include("./partials/message.ejs", { messages: messages, user: user }); %>
    </main>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
    </div>
</body>
</html>