<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"), { title: title } %>
</head>
<body>
    <div class="wrapper">
    <header>
        <%- include("./partials/header.ejs", { header: header }); %>
        
        <% if (locals.user) { %>
            <% if (locals.user.isadmin === true) { %>
                <h2>Welcome <%= user.username %>, logged in as Admin</h2>
                    <div class="logarea">
                        <button type="button" class="button" onclick="location.href = '/log-out'">Log out</button>
                        <button type="button" class="button" onclick="location.href='/new-message'">New Message</button>
                        <button type="button" class="button" onclick="location.href='/admin'">Admin Area</button>
                    </div>
            <% } else { %>
                <h2>Welcome <%= user.username %>!</h2>
                    <div class="logarea">
                        <button type="button" class="button" onclick="location.href = '/log-out'">Log out</button>
                        <button type="button" class="button" onclick="location.href='/new-message'">New Message</button>
                    </div>
            <% } %>
        <% } else { %>
            <h2>Please log in</h2>
            <div class="logarea">
                <button type="button" class="button" onclick="location.href='/sign-in'">Please Log In</button>
            </div>
        <% } %>
    </header>
    <main class="index">
        <% if (messages.length == 0) { %>
            <article class="message">
                <p>No messages yet...</p>
                <br>
                <button class="button" type="button" onclick="location.href = '/new-message'">Create the first post!</button>
            </article>
            <% } %>
        <%- include("./partials/message.ejs", { messages: messages, user: user }); %>
    </main>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
    </div>
    <script>
        (() => {
            let user = '<%= user %>';
            const randomNumber = Math.floor(Math.random() * 20);
            function randomAdminChance(user) {
                if (!user || user.isadmin) {
                    return;
                } else {
                    if (randomNumber >= 18 && user.ismember) {
                        console.log("Hey... Do you wanna be an Admin? Go to the route 'become-admin'!");
                    } else if (randomNumber >= 12 && !user.ismember) {
                        console.log("Maybe try '/member' and become a member!");
                    } else {
                        console.log("hmm...");
                    }
                }
            }
            randomAdminChance(user);
        })();
    </script>
</body>
</html>