<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }) %>
</head>
<body>
    <div class="wrapper sign-up">
        <% if (locals.errors.length) { %>
            <ul class="error-list">
                <% errors.map((error) => { %>
                    <% if (!error.path) { %>
                        <li class="error"><%= error.msg %></li>
                    <% } %>
                <% }); %>
            </ul>
        <% } %>
    <main aria-labelledby="main" class="sign-up">
        <h2 id="main">Create your new account</h2>

        <form action="/sign-up" method="post" class="sign-up-form" novalidate>
            <div class="form-row">
                <label for="first_name">First name:</label>
                <input type="text" id="first_name" name="first_name" required />
                <% if (locals.errors) { %>
                    <% errors.map((error) => { %>
                        <% if (error.path === "first_name") { %>
                            <span class="error"><%= error.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-row">
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required />
                <% if (locals.errors) { %>
                    <% errors.map((error) => { %>
                        <% if (error.path === "last_name") { %>
                            <span class="error"><%= error.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-row">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="tay@example.com" title="Please provide only a example email address" required/>
                <% if (locals.errors) { %>
                    <% errors.map((error) => { %>
                        <% if (error.path === "email") { %>
                            <span class="error"><%= error.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-row">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" />
                <% if (locals.errors) { %>
                    <% errors.map((error) => { %>
                        <% if (error.path === "username") { %>
                            <span class="error"><%= error.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-row">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
                <% if (locals.errors) { %>
                    <% errors.map((error) => { %>
                        <% if (error.path === "password") { %>
                            <span class="error"><%= error.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-row">
                <label for="password_check">Repeat your password:</label>
                <input type="password" name="password_check" id="password_check" required />
                <% if (locals.errors) { %>
                    <% errors.map((error) => { %>
                        <% if (error.path === "password_check") { %>
                            <span class="error"><%= error.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            
            <input type="hidden" name="isadmin" id="isadmin" value="false" />
            
            
            <button class="sign-up-button button" type="submit">Sign up</button>
            
        </form>
    </main>

    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
    </div>
    <script>
        const inputElements = document.querySelectorAll("input");
        const errors = document.querySelectorAll(".error");
        const checkInput = (element) => {
            const error = element.srcElement.nextSibling.nextSibling;
            error.remove();
        }
        inputElements.forEach((input) => {
            input.addEventListener("input", (input) => {
                checkInput(input);
            });
        });
    </script>
</body>
</html>